# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules

dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# FRONTEND
app-viajes-frontend/node_modules/
app-viajes-frontend/dist/
app-viajes-frontend-react/node_modules/
app-viajes-frontend-react/dist/
app-viajes-frontend-react/package-lock.json
# BACKEND
app-viajes-backend/node_modules/
app-viajes-backend/.env
app-viajes-backend/package-lock.json
.env